@import './base.css';
@import './overrides.css';

#app {
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    align-items: top;
  }

  #app {
    display: flex;
    flex-direction: row;
    flex: 0 0 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
  }

  header {
    flex: 0 0 100%;
  }
}
